<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EyeIn</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="use-img">
        <img src="../static/new morse code 4.jpg" alt="morse-code-image">
    </div>
    <div class="container">
        <h1>EyeIn</h1>
        <a href="http://localhost:8000/download_pdf"><button>User Guide</button></a>
        <a href="/sub" type="submit"><button>Click To Use</button></a>
    </div>
</body>
</html>